.footer-container {
    background-color: #021c38;
    padding-top: 24px;
    margin-top: 24px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    width: 100px;
    height: 170px;
    margin-top: 15px;
  }
  
  .footer-heading {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-text {
    color: #aaa;
    margin: 10px 0;
    display: flex;
    align-items: start;
    gap: 8px;
  }

  .footer-text a {
    padding-right: 16px;
    color: #aaa;
    text-decoration: none;
  }
  
  .footer-link {
    display: block;
    color: #aaa;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .social-media-icons {
    display: flex;
    padding-top: 10px;
  }
  
  .social-icon {
    margin-right: 10px;
    color: #aaa;
    text-decoration: none;
  }
  
  .social-icon i {
    font-size: 20px;
  }
  
  .footer-copyright {
    text-align: center;
    color: #aaa;
    padding: 10px 0;
    background-color: #011627;
  }
  